$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #F3F3F4;
}

a {
  font-weight: bold;
  color: #9A0000;
}

a:hover {
  color: #9A9A9A;
}

strong {
  font-weight: bold;
  color: #9A0000;
}

/* header */

.top-nav {
  min-height: 93px !important;
  max-height: 140px !important;
}

.main-nav {
  padding-top: 1.5em !important;
}

/* new layout */

/* remove bootstrap default focus border */

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 0 !important;
}

.btn:active, .btn.active {
  box-shadow: none !important;
}

/* tooltip */

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
}

.white-tooltip + .tooltip.right > .tooltip-arrow {
  border-right-color: #fff;}

.ibox {
  padding: 1em;
  margin-bottom: 1em;
  background: #ffffff;
  border-radius: 0.25em;
  border-top: 3px solid #d7e4ed;
}

.ibox h3 {
  padding-bottom: .5em;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #d7e4ed;
  margin-top: 0px;
}

.ibox p {
  padding: 10px;
  margin-bottom: 0px;
  text-align: justify;
}

.btn-xlarge {
  color: #fff;
  background-color: #9A0000;
  border-color: #9A0000;
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
      border-radius: 8px;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
  background-color: #7A0000;
  border-color: #7A0000;
}

.btn-yes {
  color: #9A9A9A;
  font-weight: 400;
  background-color: #fff;
  border-color: #9A9A9A;
}

.btn-yes:hover {
  color: #fff;
  background-color: #9A9A9A;
  border-color: #9A9A9A;
}

.btn-no {
  color: #9A0000;
  font-weight: 400;
  background-color: #fff;
  border-color: #9A0000;
}

.btn-no:hover {
  color: #fff;
  background-color: #9A0000;
  border-color: #9A0000;
}

.faq-question {
  font-size: 18px;
  font-weight: 500;
  color: #1ab394;
  display: block;
}

.faq-answer {
  margin-top: 10px;
  background: #F3F3F4;
  border: 1px solid #e7eaec;
  border-radius: 3px;
  padding: 15px;
}

.question-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.question-container h2 {
  margin-left: 60px;
}

.quest-pic {
  display: inline-block;
  padding-top: 0;
  position: absolute;
  left: -4.5em;
  top: 0em;
}

.circ-bg {
  color: #9A9A9A;
}

.num {
  color: #fff;
}

.question {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}

.question::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}

.question::after {
  clear: both;
  content: "";
  display: table;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
