<div class="ibox">
  <p class="lead">This site can help determine whether or not you qualify for Innocent Spouse Relief and direct you to the forms needed to apply.</p>
  <strong><h3>First, please review these internet safety tips.</h3></strong>
</div>

<div class="ibox">
  <p class="lead">Click the <a class="btn btn-mini" ng-click="getAway()">Quick Close</a> button at any time to navigate away from this page.</p>
  <p>A new tab will open in your browser at weather.com.  The original browser tab will navigate to google.com.</p>
</div>

<div class="ibox">
  <p class="lead">If you feel you are being monitored, be cautious about changing your internet behaviors.</p>
  <p>It is not possible to delete all of your online activities.  Do not delete your entire Internet history if this is not your typical habit. On a <strong>safe computer</strong>, familiarize yourself with how to view and delete specific items from your history as it applies to your browser and operating system.  For example, if you use Google Chrome, run a Google search for "chrome delete history".
</div>

<div class="ibox">
  <p class="lead">Familiarize yourself with keyboard shortcuts that allow you to quickly close browser windows and tabs.</p>
  <table class="table table-striped">
    <tr>
      <th><strong><p>Windows PC</p></strong></th>
      <th><strong><p>Mac</p></strong></th>
    </tr>
    <tr>
      <td>Alt + F4 - Closes the current application</td>
      <td>Command-Q (&#8984;Q) - Closes the current application</td>
    </tr>
    <tr>
      <td>Ctrl + W - Closes the current browser tab</td>
      <td>Command-W (&#8984;W) - Closes the current browser tab</td>
    </tr>
  </table>
</div>

<div class="ibox">
  <a ng-href="/#/questionnaireChoices" class="btn btn-block btn-xlarge">Begin the Tax Relief Questionnaire</a>
</div>
