<div class="question-container">

  <div class="well question">
    <div ng-repeat="choice in choices track by $index">
      <div ng-if="choice.visible">
        <div ng-bind-html="choice.body"></div>
        <div class="quest-pic">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x circ-bg"></i>
            <strong class="fa-stack-1x text-primary num">{{ choice.position }}</strong>
          </span>
        </div>
      <div>
        <br>
      </div>
        <div align="right">
          <button class="btn btn-yes" ng-click="answerYes($index)">Yes</button>
          <button class="btn btn-no" ng-click="answerNo($index)">No</button>
        </div>
      </div>
    </div>
    <div ng-if="choices.length === 0">
      <strong><h4>Based on your answers to these questions, it appears that you qualify to apply for Innocent Spouse Relief.</h4></strong>
      <p>The IRS decision on whether to grant your relief from tax liability under 'Innocent Spouse Relief' is also based on how they view the equities of your situation and they will look at other facts too, such as if payment of these taxes would imposed financial hardship to you.</p>
      <p>See <a href="https://www.irs.gov/pub/irs-pdf/f8857.pdf" target="_blank">Form 8857</a>, Request for Innocent Spouse Relief.  Find instructions for this form<a href="https://www.irs.gov/pub/irs-pdf/i8857.pdf" target="_blank"> here</a>.</p>
      <p>Check back in the near future for an Interactive Form 8857 that the John Marshall Law School's Domestic Violence Clinical Advocacy Program is currently working on. This interactive format will aid users in filling out the form.  We will be creating tips on how to fill out the IRS Form to show how you qualify to apply for Innocent Spouse Relief and how the equities of your situation should lead the IRS to grant this relief to you.</p>
      <p>Also, if you are interested in obtaining help from the John Marshall Law School's Family Law & Domestic Violence Clinic with any legal issues you may have relating to the abuse you have suffered from an intimate partner, these organizations will help connect you with out services:</p>
      <ul>
        <li>
          <a href="http://www.betweenfriendschicago.org/aboutus.html" target="_blank">Between Friends</a>
        </li>
        <li>
          <a href="http://www.chicagocac.org/who-we-are/contact-us/" target="_blank">Chicago Children's Advocacy Center</a>
        </li>
        <li>
          <a href="http://www.familyrescueinc.org/" target="_blank">Family Resuce</a>
        </li>
        <li>
          24-Hour Crisis Line: (800) 360-6619
        </li>
      </ul>
    </div>
  </div>

</div>

